<html>
  <head>
  <title>Welcome</title>
</head>
    {% include 'header.html' %}
    <body>
         <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Welcome
        </h2>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="{{ url_for('static',filename='images/contact-img.jpg') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
    </body>
    {% include 'footer.html' %}
</html>